/* Custom CSS */


.glyphicon.glyphicon-pencil{
	display: inline-block;
	text-align: right;
}


.right-side{
  float: right;
}

.edit {
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  padding-right: 10px;
  padding-top: 2px;
}
.edit:hover,
.edit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

.collapse {
  padding-top: 10px;
}
